

{% block trk %}

    <tbody>
    {% for track in album.song_set.all %}
    <tr>
        <td><h4>{{track.song_title}}</h4></td>
        <td><audio controls>
            <source src="{{ track.song_file.url }}" type="audio/mpeg">
       </audio></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% endfor %}
     </tbody>


<!--

       <a target="_blank" href="{{ track.song_file.url }}">
        <button type="button" class="btn btn-success btn-xs">
            <span class="glyphicon glyphicon-play"></span>&nbsp; Play
        </button>
    </a>
-->

{% endblock trk %}