body{
    background-color: grey;
}

.navbar{
    border-radius: 0px;
}


.navbar-brand{
    font-family: Algerian;
}

p{
    font-color: white;
}

.cols{
	margin: 5px;
	min-height: 300px;
	background-color: light grey;

}

